{% extends "blog/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!-- ================================
         START QUESTION AREA
================================= -->
<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="filters pb-40px d-flex flex-wrap align-items-center justify-content-between">
            <h3 class="fs-22 fw-medium mr-0">Add new post</h3>
            <ul class="breadcrumb-list">
                <li><a href="#">Home</a><span><svg xmlns="http://www.w3.org/2000/svg" height="19px" viewBox="0 0 24 24" width="19px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"></path></svg></span></li>
                <li>Add new post</li>
            </ul>
        </div><!-- end filters -->
        <form class="row" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="col-lg-8">
                <div class="card card-item">
                    <div class="card-body">

                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Mavzu nomi</label>
                            {% render_field form.name type="text" name="name" class="form-control form--control fs-14" placeholder="e.g. Eshmatov Toshmat" %}
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Slug <span class="text-gray">(Address never made public)</span></label>
                            {% render_field form.slug type="text" name="name" class="form-control form--control fs-14" placeholder="e.g. e.g. python" %}
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Post Content</label>
                            {% render_field form.description name="message" class="form-control form--control user-text-editor" rows="6" %}
                        </div><!-- end form-group -->

                        <div class="form-group">
                            <div class="custom-control custom-checkbox fs-14">
                                <input type="checkbox" class="custom-control-input" id="agreeCheckBox" data-com.bitwarden.browser.user-edited="yes">
                                <label class="custom-control-label custom--control-label" for="agreeCheckBox">By posting, you agreed to the <a href="terms-and-conditions.html" class="text-color hover-underline">Terms of Service </a> and <a href="privacy-policy.html" class="text-color hover-underline">Privacy Policy.</a></label>
                            </div>
                        </div>

                        <!-- end form-group -->

                    </div><!-- end card-body -->
                </div>
            </div><!-- end col-lg-8 -->

            <div class="col-lg-4">

                <div class="card card-item">
                    <div class="card-body">

                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Category</label>
                            {% render_field form.category_id class="custom-select custom--select" %}
                        </div><!-- end form-group -->

                        <div class="form-group ">
                            <label class="fs-14 text-black fw-medium lh-20">Tags</label>
                            {% render_field form.tag class="input-tags input--tags" type="text" name="tags" placeholder="e.g. javascript" %}
                        </div><!-- end form-group -->

                    </div><!-- end card-body -->
                </div>

                <div class="card card-item">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Featured Image</label>
                            <div class="file-upload-wrap file-upload-layout-2">
                                {% render_field form.img type="file" %}
<!--                                <input type="file" name="files[]" class="multi file-upload-input" multiple>-->
                                <span class="file-upload-text d-flex align-items-center justify-content-center"><i class="la la-cloud-upload mr-2 fs-24"></i>Drop files here or click to upload.</span>
                            </div>
                        </div><!-- end form-group -->
                    </div><!-- end card-body -->
                </div>
            </div><!-- end col-lg-4 -->
            <div class="form-group mb-0">
                            <button class="btn theme-btn" type="submit" value="ok">Nashr qilish</button>
                        </div>
        </form>
    </div><!-- end container -->
</section><!-- end question-area -->
<!-- ================================
         END QUESTION AREA
================================= -->

{% endblock %}